### Stages
##
#
stages:
  - test
  - trads

### Cache
##
#
cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - npm.tar

### Jobs template
##
#
.test_template: &test_definition
  stage: test
  script:
   - if [[ -e npm.tar ]]; then export p=$(pwd); cd /root/; tar xf $p/npm.tar; cd $p; fi
   - npm install
   - npm run lint
   - npm run test
   - npm run test-ldap
   - export p=$(pwd); cd /root/; tar cf $p/npm.tar .npm
  retry: 2

### Services
##
# Bring in any services we need
# http://docs.gitlab.com/ee/ci/docker/using_docker_images.html#what-is-a-service
services:
  - rroemhild/test-openldap

### Jobs
##
#

## Tests
#
test_node_latest:
  image: node:latest
  <<: *test_definition

test_node_4:
  image: node:4-stretch
  <<: *test_definition

test_node_6:
  image: node:6-stretch
  <<: *test_definition

test_node_8:
  image: node:8-stretch
  <<: *test_definition

test_node_9:
  image: node:9-stretch
  <<: *test_definition

test_node_10:
  image: node:10-stretch
  <<: *test_definition

## Trads
# Push new translations strings to https://trad.framasoft.org
trads:
  stage: test
  image: framasoft/push-trad:latest
  script:
  - if [ ! -z ${ZANATA_CONFIG_FRAMABOT+x} ]; then mkdir -p ${HOME}/.config; echo -e "${ZANATA_CONFIG_FRAMABOT}" > ${HOME}/.config/zanata.ini; fi
  - if [ ! -z ${ZANATA_CONFIG_FRAMABOT+x} ]; then make locales; fi
  - if [ ! -z ${ZANATA_CONFIG_FRAMABOT+x} ]; then zanata-cli -q -B push --errors --project-version ${CI_COMMIT_REF_SLUG}; fi
  only:
    - development
    - master
