/* Login Module */
/* Login Main */

section.login-main {
  width: 100%;
  margin: 0 auto 0 auto;
}

label.login-main { width: 100%; }
input.login-main { width: 95%; }
i.login-main { width: 5%; }

input[type=submit].login-main {
  text-transform: uppercase;
  margin-left: 50%;
  width: 50%;
}

/* Tablet and Up */
@media (min-width: 40em) {
  section.login-main { width: 80%; }
  input[type=submit].login-main {
    margin-left: 80%;
    width: 20%;
  }
}
/* Desktop and Up */
@media (min-width: 60em) {
  section.login-main { width: 40em; }

  label.login-main { width: 50%; }
  input.login-main { width: 45%; }
  i.login-main { width: 5%; }
}

section.login-main > h2 { color: #a15014; }
section.login-main > form {
  background: #fff8e3;
  border: 0.1em solid #ffcf4f;
  border-radius: 0.2em;
  padding: 1em;
}

fieldset.login-main > legend {
  font: 1.4em bold;
  padding-bottom: 0.6em;
}

/* Login Aside */

section.login-aside {
  margin: 1em;
}

section.login-aside > h2 {
  text-align: center;
  color: #3e3363;
}

section.login-aside > article {
  background: #d3c5e8;
  border: 0.15em solid #9876cc;
  border-radius: 0.5em;
  padding: 1em;
}
