/* Menu Main */
nav.menu-main {
  text-align: right;
}

ul.menu-main {
  list-style-type: none;
}

li.menu-main {
  padding: 1em;
  display: inline; 
  font-weight: bold;
}

li.menu-main.is-active { background-color: #8157c2; }

li.menu-main:hover, a.menu-main:focus {
  background-color: #635182;
}

a.menu-main {
  background: none;
  text-decoration: none;
}

span.menu-main { display: none; }

/* Responsivity : full menu items for large tablets and up */
@media (min-width: 50em) {
  span.menu-main { display: inherit; }
}
