/* External Dependencies */
@import url('vendor/pocketgrid.css');
@import url('vendor/normalize.css');
/* Internal Dependencies */

/* Global layout */

body.block-group {
  font-size: 1em;
  font-family: DejaVu Sans, Verdana, sans-serif;
}

header, footer {
  color: #f5f5f5;
  background-color: #333333;
}

header h1 {
  padding-left: 1%;
}

footer {
  font-size: 0.7em; 
  text-align: center;
}

a, a:visited, a:link {
  background-color: #6a5687;
  color: #ffffff;
  text-decoration: underline dotted;
}

fieldset {
  border: none;
}

legend {
  font: 1.1em bold;
  border-bottom: 0.1em solid #333333;
  margin-bottom: 1em;
}

label, input { margin: 0.5em 0 0.5em; }

label {
  text-transform: uppercase; 
}
input {
  padding: 0.7em;
  border: 0.1em solid #e0e0e0;
  border-radius: 0.3em;
  color: #333333;
  background: #fafafa;
}

input[type=text]:focus {
  border-color: #949494;
  border-left-width: 0.3em;
  border-right-width: 0.3em;
}

input.send {
  font-weight: bold;
  color: #fff8e3;
  background: #a15014;
}

input.send:hover, input.send:focus { background: #c47e1b; }

/* Common */
main.block > section.block { width: 100%; padding: 1em; }
main.block > aside.block { width: 100%;, padding: 1em; }

/* Desktop */
@media (min-width: 60em) {
  main.block > section.block { width: 70%; padding: 1em; }
  main.block > aside.block { width: 30%;, padding: 1em; }
}

/* Modules */

/* Menu Main */
nav.menu-main {
  text-align: right;
}

ul.menu-main {
  list-style-type: none;
}

li.menu-main {
  padding: 1em;
  display: inline; 
  font-weight: bold;
}

li.menu-main.is-active {
  background-color: #8157c2;
}

/* Login */
/* Login Main */

section.login-main {
  width: 100%;
  margin: 0 auto 0 auto;
}

label.login-main, input.login-main {
  width: 100%;
}

input[type=submit].login-main {
  text-transform: uppercase;
  margin-left: 50%;
  width: 50%;
}

/* Tablet and Up */
@media (min-width: 40em) {
  section.login-main { width: 80%; }
  input[type=submit].login-main {
    margin-left: 80%;
    width: 20%;
  }
}
/* Desktop and Up */
@media (min-width: 60em) {
  section.login-main { width: 40em; }

  label.login-main, input.login-main {
    width: 50%;
  }
}

section.login-main > h2 { color: #a15014; }
section.login-main > form {
  background: #fff8e3;
  border: 0.1em solid #ffcf4f;
  border-radius: 0.2em;
  padding: 1em;
}

fieldset.login-main > legend {
  font: 1.4em bold;
  padding-bottom: 0.6em;
}

/* Login Aside */

section.login-aside {
  margin: 1em;
}

section.login-aside > h2 {
  text-align: center;
  color: #3e3363;
}

section.login-aside > article {
  background: #d3c5e8;
  border: 0.15em solid #9876cc;
  border-radius: 0.5em;
  padding: 1em;
}
