/* Notification Widget */

/* Global styling */

section.notification {
  z-index: 99;
  cursor: pointer;
  width: 80%;
  position: fixed;
  right: 1%;
  bottom: 2%;
}

/* Tablet */
@media (min-width: 40em) {
  section.notification { width: 40%; }
}
/* Desktop */
@media (min-width: 60em) {
  section.notification { width: 25%; }
}

section.notification > div > div {
  margin: 0.3em;
  padding: 0.8em;
  border: 0.1em solid;
  border-radius: 0.3em;
  background-color: #e0e0e0;
  animation: 1s fadein;
  -moz-animation: 1s fadein;
  -webkit-animation: 1s fadein;
}

section.notification > div > div.success { background-color: #b3cc66; }
section.notification > div > div.info { background-color: #83c9d6; }
section.notification > div > div.warning { background-color: #ffcf4f; }
section.notification > div > div.error { background-color: #f69988; }

section.notification header {
  color: inherit;
  background-color: inherit;
  font-weight: bold;
  width: 95%;
}

section.notification p.block { font-size: 0.8em; }

section.notification i.close.block { width: 5%; }

/* Animation */

@keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
@-moz-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
@-webkit-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
