/* Tooltip Widget */

.mp-tooltip {
  position: relative;
  margin-left:5px;
  margin-top: 3px;
  color: #0C5B7A;
  opacity:0.7;
  font-size:14px;
  vertical-align:top;
}
.mp-tooltip:hover,.mp-tooltip:focus {
  opacity:1;
}

.mp-tooltip:hover:after, .mp-tooltip:focus:after {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 5px;
  width: 250px;
  color: #0C5B7A;
  background-color: #E1F8FC;
  border: 1px solid #B2D5DB;
  border-radius: 5px;
  content: attr(data-msg);
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  font-size:12px;
  font-weight:normal;
  z-index:100;
}

.glyphicon-exclamation-sign.mp-tooltip:hover:after, 
.glyphicon-exclamation-sign.mp-tooltip:focus:after {
  color: #AB2909;
  background-color: #FDE0DC;
  border: 1px solid #E0B3A8;
}

.mp-tooltip-left:hover:after,.mp-tooltip-left:focus:after {
  left:0;right:auto;
}
